<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="currentPage-1 <= 0 ? 'disabled' : ''"><a class="page-link" (click)="getPage(1);">First</a></li>
    <li class="page-item" [ngClass]="currentPage-1 <= 0 ? 'disabled' : ''"><a class="page-link" (click)="getPage(currentPage-1);">Previous</a></li>
    <ng-container *ngFor="let page of getPagesList">
      <li class="page-item" [ngClass]="page === currentPage ? 'active' : ''">
        <a class="page-link" (click)="getPage(page);">{{ page }}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="currentPage+1 > pages ? 'disabled' : ''"><a class="page-link" (click)="getPage(currentPage+1);">Next</a></li>
    <li class="page-item" [ngClass]="currentPage+1 > pages ? 'disabled' : ''"><a class="page-link" (click)="getPage(pages);">Last</a></li>
  </ul>
</nav>
