<div class="main" (click)="sort();">
  <p>{{ name }}</p>
  <div class="arrows">
    <mat-icon [ngClass]="{asc: currentOrder !== order}"
              *ngIf="currentOrder !== order || (currentOrder === order && currentDir === 'asc')">arrow_drop_up</mat-icon>
    <mat-icon [ngClass]="{desc: currentOrder !== order}"
              *ngIf="currentOrder !== order || (currentOrder === order && currentDir === 'desc')">arrow_drop_down</mat-icon>
  </div>
</div>
