.main {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    margin: 0;
  }

  .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //margin-top: -5px;
    //
    .asc {
      margin-bottom: -8px;
    }

    .desc {
      margin-top: -8px;
    }
  }
}
