.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-row:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

th {
  padding-top: 0;
  padding-bottom: 0;
}

th:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

td[colspan="8"] {
  margin: 0;
  padding: 0;
}


.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-question {
  margin-bottom: 20px;
}
