<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>


<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>
        <app-sort-arrows [name]="'ID'" [order]="'id'"
                         [currentOrder]="currentOrder"
                         [currentDir]="currentDir"
                         (currentChange)="sortBy($event)"></app-sort-arrows>
      </th>
      <th>
        <app-sort-arrows [name]="'Email'" [order]="'email'"
                         [currentOrder]="currentOrder"
                         [currentDir]="currentDir"
                         (currentChange)="sortBy($event)"></app-sort-arrows>
      </th>
      <th>
        <app-sort-arrows [name]="'Imię'" [order]="'firstName'"
                         [currentOrder]="currentOrder"
                         [currentDir]="currentDir"
                         (currentChange)="sortBy($event)"></app-sort-arrows>
      </th>
      <th>
        <app-sort-arrows [name]="'Nazwisko'" [order]="'lastName'"
                         [currentOrder]="currentOrder"
                         [currentDir]="currentDir"
                         (currentChange)="sortBy($event)"></app-sort-arrows>
      </th>
      <th>
        <app-sort-arrows [name]="'Rola'" [order]="'role'"
                         [currentOrder]="currentOrder"
                         [currentDir]="currentDir"
                         (currentChange)="sortBy($event)"></app-sort-arrows>
      </th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of users; let i=index">
      <tr class="table-row">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <ng-container [ngSwitch]="user.role">
          <td *ngSwitchCase="'ROLE_USER'">Użytkownik</td>
          <td *ngSwitchCase="'ROLE_ADMIN'">Administrator</td>
          <td *ngSwitchCase="'ROLE_SUPER_ADMIN'">Super administrator</td>
        </ng-container>
        <td>
          <button class="btn btn-primary" (click)="openNewUserModal(user)">Edytuj</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="openDeleteUserModal(i)">Usuń</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <button class="new-question btn btn-lg btn-success" (click)="openNewUserModal();">Dodaj użytkownika</button>

  <div class="pages">
    <app-paginator [service]="service" [pages]="pages" [currentPage]="currentPage" [sorting]="true"
                   (newPage)="setNewPage($event);" (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>

</ng-template>
