.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question {
  width: 60%;
  background-color: ghostwhite;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.main .question .content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .question .content h6 {
  width: 20%;
}

.main .question .content h6.left {
  text-align: left;
}

.main .question .content h6.right {
  text-align: right;
}

.main .question .content p {
  width: 60%;
}

.main .question .answers {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question .answers .row {
  width: 100%;
  padding: 5px;
}

.main .question .answers .row .col {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question .answers .row .col.choosed {
  border-color: #28a745;
  background-color: #28a745;
}

.main .info, .main .navigation {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .info {
  align-items: center;
}

.main .info .time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main .info p {
  font-size: 24px;
}

.main .results {
  width: 60%;
  padding: 10px;
  background-color: ghostwhite;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.main .results .verdict,
.main .results .data,
.main .results .back-to {
  padding: 5px;
  display: flex;
}

.main .results .verdict,
.main .results .back-to {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .results .data {
  flex-direction: row;
  justify-content: space-around;
}

.content p {
  font-weight: bold;
  font-size: large;
}

p {
  margin: 10px;
  text-align: center;
}
