<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
  <ng-template #loader>
    <div class="loader-128"></div>
  </ng-template>
  <ng-template #content>
    <ng-container *ngIf="isFinished; then testResult; else test"></ng-container>
  </ng-template>
</div>

<ng-template #test>
  <div class="info">
    <div class="question-number">
      <p>{{ currentQuestion + 1 }}/{{ currentTest.answers.length }}</p>
    </div>
    <div class="time">
      <p>{{ timeMinutes }}:{{ timeSeconds < 10 ? '0' : '' }}{{ timeSeconds }}</p>
      <i class="material-icons md-icon-36">
        access_time
      </i>
    </div>
  </div>
  <div class="report">
    <button class="ml-auto btn btn-sm btn-warning-outline" (click)="showReportForm()">Zgłoś pytanie</button>
  </div>
  <div class="question">
    <div class="content">
      <h6 class="left">Kategoria: {{ currentTest.answers[currentQuestion].question.category }}</h6>
      <p>{{ currentTest.answers[currentQuestion].question.content }}</p>
      <h6 class="right">Punkty: {{ currentTest.answers[currentQuestion].question.points }}</h6>
    </div>
    <div class="answers">
      <div class="row">
        <button class="col btn btn-primary" (click)="selectAnswer('A');"
                [ngClass]=" currentTest.answers[currentQuestion].answer === 'A' ? 'choosed' : ''">
          A. {{ currentTest.answers[currentQuestion].question.answerA }}</button>
        <button class="col btn btn-primary" (click)="selectAnswer('B');"
                [ngClass]=" currentTest.answers[currentQuestion].answer === 'B' ? 'choosed' : ''">
          B. {{ currentTest.answers[currentQuestion].question.answerB }}</button>
      </div>
      <div class="row">
        <button class="col btn btn-primary" (click)="selectAnswer('C');"
                [ngClass]=" currentTest.answers[currentQuestion].answer === 'C' ? 'choosed' : ''">
          C. {{ currentTest.answers[currentQuestion].question.answerC }}</button>
        <button class="col btn btn-primary" (click)="selectAnswer('D');"
                [ngClass]=" currentTest.answers[currentQuestion].answer === 'D' ? 'choosed' : ''">
          D. {{ currentTest.answers[currentQuestion].question.answerD }}</button>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="btn btn-lg btn-danger" (click)="prev();">Wstecz</button>
    <button class="btn btn-lg btn-success" (click)="next();"
            *ngIf="currentQuestion !== currentTest.answers.length - 1">Dalej
    </button>
    <button class="btn btn-lg btn-success" (click)="finishTest()"
            *ngIf="currentQuestion == currentTest.answers.length - 1">Zakończ
      test
    </button>
  </div>
</ng-template>

<ng-template #testResult>
  <div class="results">
    <div class="verdict">
      <h1>Test zakończony!</h1>
    </div>
    <div class="data">
      <h6>Punkty: {{ currentTest.totalPoints }}/{{ currentTest.maxPoints }}</h6>
      <h6>Procent: {{ (currentTest.totalPoints / currentTest.maxPoints) * 100 | number:'1.0-0' }}%</h6>
      <ng-container *ngIf="currentTest.verdict">
        <div class="test-result">
          <h6>Wynik testu: </h6>
          <mat-icon title="Zaliczony">done</mat-icon>
          <mat-icon title="Podstawa do niezaliczenia" *ngIf="currentTest.warning">warning</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="!currentTest.verdict">
        <div class="test-result">
          <h6>Wynik testu: </h6>
          <mat-icon title="Niezaliczony">close</mat-icon>
        </div>
      </ng-container>
    </div>
    <div class="back-to">
      <button class="btn btn-lg btn-primary" routerLink="/">Powrót do strony głównej</button>
    </div>
  </div>
</ng-template>
