.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .question {
    width: 60%;
    background-color: ghostwhite;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    .content {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h6 {
        width: 20%;
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
      }
      p {
        width: 60%;
      }
    }
    .answers {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        width: 100%;
        padding: 5px;
        .col {
          margin: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &.choosed {
            border-color: #28a745;
            background-color: #28a745;
          }
        }
      }
    }
  }
  .info, .navigation {
    width: 60%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info {
    align-items: center;
    .time {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    p {
      font-size: 24px;
    }
  }

  .report {
    width: 60%;
    margin-top: -8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
  }

  .results {
    width: 60%;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    .verdict,
    .data,
    .back-to {
      padding: 5px;
      display: flex;
    }
    .verdict,
    .back-to {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .data {
      flex-direction: row;
      justify-content: space-around;
      .test-result {
        display: flex;
        flex-direction: row;
        mat-icon {
          cursor: default;
          margin-top: -2px;
        }
      }
    }
  }
}

.content {
  p {
    font-weight: bold;
    font-size: large;
  }
}
p {
  margin: 10px;
  text-align: center;
}
