<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="environment.isLogged">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="environment.isAdmin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/questions">Pytania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories">Kategorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/archive">Archiwum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/reports">Zgłoszenia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/configs">Kofinguracje testów</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="!environment.isAdmin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-tests">Moje testy</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout();">Wyloguj się</button>
      </li>
    </ul>
  </div>
</nav>
