<div class="modal-header">
  <h4 class="modal-title" *ngIf="!config">Dodaj konfigurację</h4>
  <h4 class="modal-title" *ngIf="config">Edytuj konfigurację</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="required-info">
    <h6>Wszystkie pola są wymagane</h6>
  </div>
  <form class="main" [formGroup]="configForm">
    <div class="info">
      <input class="form-control" type="number" min="0" [ngClass]="{
              'is-invalid': configForm.get('windowChanges').getError('required') && isEdited.windowChanges
          }" (blur)="isEdited.windowChanges = true;" (input)="isEdited.windowChanges = true;"
             placeholder="Ilość przełączeń" formControlName="windowChanges">
      <input type="number" min="0" max="100" class="form-control" [ngClass]="{
              'is-invalid': configForm.get('percent').getError('required') &&isEdited.percent
          }" (blur)="isEdited.percent = true;" (input)="isEdited.percent = true;"
             placeholder="Próg zdawalności (%)" formControlName="percent">
      <input type="number" min="0" class="form-control" [ngClass]="{
              'is-invalid': configForm.get('time').getError('required') && isEdited.time
          }" (blur)="isEdited.time = true;" (input)="isEdited.time = true;"
             placeholder="Czas testu (min)" formControlName="time">
    </div>
    <div class="questions">
      <div class="question-points" *ngFor="let points of pointsArray.controls; let i = index">
        <p><b>Punkty: </b>{{ i + 1 }}</p>
        <div class="form-inline">
          <label>Ilość pytań: </label>
          <input class="form-control" [ngClass]="{
                    'is-invalid': pointsArray.controls[i].getError('required') && isEdited.points[i]
                 }" (input)="isEdited.points[i] = true;" (blur)="isEdited.points[i] = true;"
                 type="number" min="0" [formControl]="pointsArray.controls[i]" [readOnly]="!pointsChecked[i]" >
          <label class="switch">
            <input type="checkbox" [checked]="pointsChecked[i]" (change)="togglePoints(i);">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" *ngIf="!config" (click)="addConfig();">Dodaj</button>
    <button class="btn btn-lg btn-primary" *ngIf="config" (click)="editConfig();">Edytuj</button>
    <button class="btn btn-lg btn-danger" (click)="activeModal.dismiss();">Anuluj</button>
  </div>
</div>
