.modal-body {
  background-color: ghostwhite;

  .required-info {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  .info,
  .questions {
    width: 90%;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
      margin: 5px;
    }
  }

  .questions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question-points {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      p {
        margin: 0;
      }
      .form-inline {
        * {
          margin-left: 2px;
          margin-right: 2px;
        }
        input {
          width: 75px;
        }
      }
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    width: 200px;
  }
}
