<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>

<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Treść zgłoszenia</th>
      <th>ID odpowiedzi</th>
      <th>Autor zgłoszenia</th>
      <th>Rozpatrzenie</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let report of reports; let i=index">
      <tr class="table-row" (click)="toggle(i);">
        <td>{{ report.id }}</td>
        <td>{{ report.content }}</td>
        <td>{{ report.question.id }}</td>
        <td>{{ report.author.firstName }} {{ report.author.lastName }}</td>
        <ng-container [ngSwitch]="report.positive">
          <td *ngSwitchCase="null">Nierozpatrzone</td>
          <td *ngSwitchCase="false">Negatywnie przez {{ report.moderator.firstName }} {{ report.moderator.lastName }}</td>
          <td *ngSwitchCase="true">Pozytywnie przez {{ report.moderator.firstName }} {{ report.moderator.lastName }}</td>
        </ng-container>
      </tr>
      <tr *ngIf="i==currentReport">
        <td colspan="8" align="center">
          <app-report [report]="report" (closed)="refresh($event);"></app-report>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="pages">
    <app-paginator [service]="service" [pages]="pages" [currentPage]="currentPage" [sorting]="true"
                   (newPage)="setNewPage($event);" (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>

</ng-template>
