<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>


<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Treść pytania</th>
      <th>Odpowiedź A</th>
      <th>Odpowiedź B</th>
      <th>Odpowiedź C</th>
      <th>Odpowiedź D</th>
      <th>Kategoria</th>
      <th>Autor</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let question of questions; let i=index">
      <tr class="table-row" (click)="toggle(i);">
        <td>{{ question.id }}</td>
        <td>{{ question.content }}</td>
        <td>{{ question.answerA }}</td>
        <td>{{ question.answerB }}</td>
        <td>{{ question.answerC }}</td>
        <td>{{ question.answerD }}</td>
        <td>{{ question.categoryName }}</td>
        <td class="author-name">{{ question.author.firstName }} {{ question.author.lastName }}</td>
      </tr>
      <tr *ngIf="i==currentQuestion">
        <td colspan="8" align="center">
          <app-question [question]="question" (closed)="refresh($event);"></app-question>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <button class="new-question btn btn-lg btn-success" (click)="openNewQuestionModal();">Dodaj pytanie</button>

  <div class="pages">
    <app-paginator [service]="service" [pages]="pages" [currentPage]="currentPage" [sorting]="true"
                   (newPage)="setNewPage($event);" (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>

</ng-template>
