<div class="modal-header">
  <h4 class="modal-title">Usuń pytanie</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Czy na pewno chcesz usunąć to pytanie?</h5>
</div>
<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-danger" (click)="deleteQuestion();">Usuń</button>
    <button class="btn btn-lg btn-info" (click)="activeModal.dismiss();" >Anuluj</button>
  </div>
</div>
