.modal-body {
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons button {
  width: 200px;
}
