.main {
  background-color: ghostwhite;
  .report-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      margin: 5px;
    }
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .question-data,
    .question-dates {
      display: flex;
      flex-direction: column;
      margin: 10px;
      p {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }
    .question-data {
      width: 20%;
    }
    .buttons {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        width: 200px;
      }
      button:disabled {
        cursor: default;
      }
    }
    .question-dates {
      width: 20%;
      p {
        text-align: left;
      }
    }

  }

  .question {
    border-radius: 8px;
    .content {
      p {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .content,
    .answers {
      padding: 5px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        width: 100%;
        padding: 5px;
        .col {
          border: none;
          margin: 10px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 40px;
          color: white;
          background-color: #0080ff;
          border-radius: 4px;
          &.correct {
            background-color: #28a745;
          }
        }
      }
    }
  }
}
