<div class="main">
  <div class="report-info">
    <h6>Zgłoszenie użytkownika: {{ report.author.firstName }} {{ report.author.lastName }}</h6>
    <h5>{{ report.content }}</h5>
  </div>
  <div class="info">
    <div class="question-data">
      <p><b>Kategoria:</b> {{ report.question.categoryName }}</p>
      <p><b>Autor:</b> {{ report.question.author.firstName }} {{ report.question.author.lastName }}</p>
      <p><b>Punkty:</b> {{ report.question.points }}</p>
    </div>
    <div class="buttons">
      <ng-container [ngSwitch]="report.positive">
        <button *ngSwitchCase="null" class="btn btn-lg btn-info" (click)="openConsiderModal()">Rozpatrz</button>
        <button *ngSwitchCase="true" class="btn btn-lg btn-success" disabled>Rozpatrzone</button>
        <button *ngSwitchCase="false" class="btn btn-lg btn-danger" disabled>Rozpatrzone</button>
      </ng-container>
    </div>
    <div class="question-dates">
      <p><b>Utworzono:</b> {{ report.question.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="report.question.updatedAt"><b>Edytowano:</b> {{ (report.question.updatedAt | date:'yyyy-MM-dd HH:mm:ss') }}</p>
    </div>
  </div>
  <div class="question">
    <div class="content">
      <p>{{ report.question.content }}</p>
    </div>
    <div class="answers">
      <div class="row">
        <div class="col" [ngClass]="report.question.correct === 'A' ? 'correct' : ''" >{{ report.question.answerA }}</div>
        <div class="col" [ngClass]="report.question.correct === 'B' ? 'correct' : ''" >{{ report.question.answerB }}</div>
      </div>
      <div class="row">
        <div class="col" [ngClass]="report.question.correct === 'C' ? 'correct' : ''">{{ report.question.answerC }}</div>
        <div class="col" [ngClass]="report.question.correct === 'D' ? 'correct' : ''">{{ report.question.answerD }}</div>
      </div>
    </div>
  </div>
</div>
