.modal-body {
  background-color: ghostwhite;

  .required-info {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;

  .info,
  .question {
    width: 100%;
  }

  .invalid-feedback {
    margin-top: -2px;
    margin-bottom: 2px;
  }

  .user-login,
  .user-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    input,
    select,
    .custom-control {
      margin: 2px;
    }
    .custom-control {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    width: 200px;
  }
}
