<div class="modal-header">
  <h4 class="modal-title" *ngIf="!user">Dodaj użytkownika</h4>
  <h4 class="modal-title" *ngIf="user">Edytuj użytkownika</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="required-info">
    <h6>Wszystkie pola są wymagane</h6>
  </div>
  <form class="main" [formGroup]="userForm">
    <div class="user-login form-group">
      <input class="form-control"
             [ngClass]="(userForm.get('email').getError('required') ||
             userForm.get('email').getError('email')) && isEdited.email ? 'is-invalid' : ''"
             [value]="userForm.get('email').value" formControlName="email"
             placeholder="Email">
      <div class="invalid-feedback" *ngIf="(userForm.get('email').getError('required') ||
             userForm.get('email').getError('email')) && isEdited.email">
        Nieprawidłowy email
      </div>
      <input *ngIf="!user || passChecked" class="form-control"
             [ngClass]="(userForm.get('password').getError('required') ||
             userForm.get('password').value !== userForm.get('passwordRepeat').value) && isEdited.password
              ? 'is-invalid' : ''"
             type="password" placeholder="Hasło" formControlName="password">
      <input *ngIf="!user || passChecked" class="form-control"
             [ngClass]="(userForm.get('passwordRepeat').getError('required') ||
             userForm.get('password').value !== userForm.get('passwordRepeat').value) && isEdited.passwordRepeat
              ? 'is-invalid' : ''"
             type="password" placeholder="Powtórz hasło" formControlName="passwordRepeat">
      <div class="invalid-feedback" *ngIf="(userForm.get('password').getError('required') ||
             userForm.get('passowrdRepeat').getError('required') ||
             userForm.get('password').value !== userForm.get('passwordRepeat').value) &&
             isEdited.password && isEdited.passwordRepeat">
        Hasła muszą być zgodne
      </div>
      <div class="custom-control custom-checkbox" *ngIf="user">
        <input type="checkbox" class="custom-control-input" id="customCheck1" (change)="passChecked = !passChecked">
        <label class="custom-control-label" for="customCheck1">Zmień hasło</label>
      </div>
    </div>
    <div class="user-data form-group">
      <input class="form-control"
             [ngClass]="userForm.get('firstName').getError('required') && isEdited.firstName ? 'is-invalid' : ''"
             [value]="userForm.get('firstName').value"
             (input)="isEdited.firstName = true;" (blur)="isEdited.firstName = true;" formControlName="firstName"
             placeholder="Imię">
      <input class="form-control"
             [ngClass]="userForm.get('lastName').getError('required') && isEdited.lastName ? 'is-invalid' : ''"
             type="lastName" placeholder="Nazwisko" formControlName="lastName" (input)="isEdited.lastName = true;"
             (blur)="isEdited.lastName = true;">
      <select class="form-control" *ngIf="user"
              [ngClass]="userForm.get('role').getError('required') && isEdited.role ? 'is-invalid' : ''"
              formControlName="role">
        <option [value]="'ROLE_USER'">Użytkownik</option>
        <option [value]="'ROLE_ADMIN'">Administrator</option>
        <option *ngIf="user && user.role === 'ROLE_SUPER_ADMIN'" [value]="'ROLE_SUPER_ADMIN'">Super administrator
        </option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" *ngIf="!user" (click)="addUser();">Dodaj</button>
    <button class="btn btn-lg btn-primary" *ngIf="user" (click)="editUser();">Edytuj</button>
    <button class="btn btn-lg btn-danger" (click)="activeModal.dismiss();">Anuluj</button>
  </div>
</div>
