<div class="modal-header">
  <h4>Rozpatrz zgłoszenie</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Czy to zgłoszenie jest zasadne?</h5>
</div>
<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" (click)="positiveConsider();">Tak</button>
    <button class="btn btn-lg btn-danger" (click)="negativeConsider();">Nie</button>
  </div>
</div>
