.modal-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    width: 200px;
  }
}
