.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 25%;
    min-height: 25%;
    padding: 10px;
    border-radius: 8px;
    background-color: ghostwhite;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);

    .invalid-user {
      margin: 5px;
      padding: 5px;
      border-radius: 4px;;
      background-color: rgba($color: #ff0000, $alpha: 0.6);
      color: white;
      font-size: large;
    }
    .form-control {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .btn {
      width: 50%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
