<div class="main">
  <form class="sign-in form-group" [formGroup]="loginForm">
    <div class="invalid-user" *ngIf="invalid">Niewłaściwy login lub hasło</div>
    <input type="text" class="form-control" placeholder="Login" formControlName="username">
    <input type="password" class="form-control" placeholder="Hasło" formControlName="password">
    <button [disabled]="loading" class="btn btn-primary" (click)="login()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Zaloguj się
    </button>
  </form>
</div>
