.modal-body {
  background-color: ghostwhite;
  .required-info {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  .info,
  .question {
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .question-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      select {
        width: 200px;
        margin: 5px;
      }
      input {
        width: 100px;
        margin: 5px;
      }
    }
    .question-dates {
      width: 20%;
      p {
        text-align: right;
      }
    }
  }

  .question {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      textarea {
        resize: none;
      }
    }
    .correct {
      width: 90%;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .content,
    .answers {
      width: 100%;
      padding: 5px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        width: 100%;
        padding: 5px;
        .col {
          width: 50%;
          padding: 5px 10px;
          label {
            margin-right: 8px;
          }
          .form-control {
            flex-grow: 2;
          }
        }
      }
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    width: 200px;
  }
}
