<div class="modal-header">
  <h4 class="modal-title" *ngIf="!question">Dodaj pytanie</h4>
  <h4 class="modal-title" *ngIf="question">Edytuj pytanie</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="required-info">
    <h6>Wszystkie pola są wymagane</h6>
  </div>
  <form class="main" [formGroup]="questionForm">
    <div class="info">
      <div class="question-data form-group">
        <select class="form-control"
                [ngClass]="questionForm.get('category').getError('required') && isEdited.category ? 'is-invalid' : ''"
                [value]="questionForm.get('category').value"
                (input)="isEdited.category = true;" (blur)="isEdited.category = true;" formControlName="category">
          <option value='' *ngIf="!questionForm.get('category').value">Kategoria</option>
          <ng-container *ngFor="let category of categories">
            <option [value]="category.name">{{ category.name }}</option>
          </ng-container>
        </select>
        <input class="form-control"
               [ngClass]="questionForm.get('points').getError('required') && isEdited.points ? 'is-invalid' : ''"
               type="number" min="1" max="5" placeholder="Punkty" formControlName="points"
               (input)="isEdited.points = true;"
               (change)="isEdited.points = true;" (blur)="isEdited.points = true;">
      </div>
    </div>
    <div class="question">
      <div class="content">
        <textarea class="form-control"
                  [ngClass]="questionForm.get('content').getError('required') && isEdited.content ? 'is-invalid' : ''"
                  (input)="isEdited.content = true;" (blur)="isEdited.content = true;" rows="4"
                  placeholder="Treść pytania"
                  formControlName="content"></textarea>
      </div>
      <div class="correct">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="A" value="A" formControlName="correct"
                 checked>
          <label class="form-check-label" for="A">
            Odpowiedź A
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="B" value="B" formControlName="correct">
          <label class="form-check-label" for="B">
            Odpowiedź B
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="C" value="C" formControlName="correct">
          <label class="form-check-label" for="C">
            Odpowiedź C
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="D" value="D" formControlName="correct">
          <label class="form-check-label" for="D">
            Odpowiedź D
          </label>
        </div>
      </div>

      <div class="answers">
        <div class="row">
          <div class="col form-inline">
            <label>A. </label>
            <input class="form-control"
                   [ngClass]="questionForm.get('answerA').getError('required') && isEdited.answerA ? 'is-invalid' : ''"
                   (input)="isEdited.answerA = true;" (blur)="isEdited.answerA = true;" placeholder="Odpowiedź A"
                   formControlName="answerA">
          </div>
          <div class="col form-inline">
            <label>B. </label>
            <input class="form-control"
                   [ngClass]="questionForm.get('answerB').getError('required') && isEdited.answerB ? 'is-invalid' : ''"
                   (input)="isEdited.answerB = true;" (blur)="isEdited.answerB = true;" placeholder="Odpowiedź B"
                   formControlName="answerB">
          </div>
        </div>
        <div class="row">
          <div class="col form-inline">
            <label>C. </label>
            <input class="form-control"
                   [ngClass]="questionForm.get('answerC').getError('required') && isEdited.answerC ? 'is-invalid' : ''"
                   (input)="isEdited.answerC = true;" (blur)="isEdited.answerC = true;" placeholder="Odpowiedź C"
                   formControlName="answerC">
          </div>
          <div class="col form-inline">
            <label>D. </label>
            <input class="form-control"
                   [ngClass]="questionForm.get('answerD').getError('required') && isEdited.answerD ? 'is-invalid' : ''"
                   (input)="isEdited.answerD = true;" (blur)="isEdited.answerD = true;" placeholder="Odpowiedź D"
                   formControlName="answerD">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" *ngIf="!question" (click)="addQuestion();">Dodaj</button>
    <button class="btn btn-lg btn-primary" *ngIf="question" (click)="editQuestion();">Edytuj</button>
    <button class="btn btn-lg btn-danger" (click)="activeModal.dismiss();">Anuluj</button>
  </div>
</div>
