.modal-body {
  background-color: ghostwhite;
}

.modal-body .required-info {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.main .info,
.main .question {
  width: 100%;
}

.main .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main .info .question-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.main .info .question-data select {
  width: 200px;
  margin: 5px;
}

.main .info .question-data input {
  width: 100px;
  margin: 5px;
}

.main .info .question-dates {
  width: 20%;
}

.main .info .question-dates p {
  text-align: right;
}

.main .question {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question .content textarea {
  resize: none;
}

.main .question .correct {
  width: 90%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .question .content,
.main .question .answers {
  width: 100%;
  padding: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question .content .row,
.main .question .answers .row {
  width: 100%;
  padding: 5px;
}

.main .question .content .row .col,
.main .question .answers .row .col {
  margin: 10px;
  height: 40px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons button {
  width: 200px;
}
