.modal-body {
  background-color: ghostwhite;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  h5 {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }
  textarea {
    width: 90%;
    resize: none;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    width: 200px;
  }
}
