<div class="modal-header">
  <h4 class="modal-title">Zgłoś pytanie</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="main">
    <h5><b>{{ question.content }}</b></h5>
    <textarea class="form-control" rows="3"
              [ngClass]="{'is-invalid': content.getError('required') && isContentEdited}"
              [formControl]="content" (blur)="isContentEdited = true;" placeholder="Treść zgłoszenia"></textarea>
  </div>
</div>

<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" (click)="report();">Zgłoś</button>
    <button class="btn btn-lg btn-danger" (click)="activeModal.dismiss()">Anuluj</button>
  </div>
</div>
