<div class="main">
  <div class="info">
    <div class="config-data">
      <p><b>Czas testu:</b> {{ configuration.time | configTime }} minut</p>
      <p><b>Próg zaliczenia:</b> {{ configuration.percent }}</p>
      <p><b>Maksymalna ilość przełączeń:</b> {{ configuration.totalWindowChangesAllow }}</p>
    </div>
    <div class="buttons">
      <button class="btn btn-lg btn-primary" (click)="openEditConfigModal(configuration);">Edytuj</button>
      <button class="btn btn-lg" [ngClass]="configuration.active ? 'btn-secondary' : 'btn-success'"
      (click)="openToggleConfigModal(configuration)">{{ configuration.active ? 'Deaktywuj' : 'Aktywuj' }}</button>
    </div>
    <div class="config-dates">
      <p><b>Autor:</b> {{ configuration.author.firstName }} {{ configuration.author.lastName }}</p>
      <p><b>Utworzono:</b> {{ configuration.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="configuration.updatedAt"><b>Edytowano:</b> {{ configuration.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    </div>
  </div>
  <div class="config-points">
    <ng-container *ngFor="let questionsConfig of configuration.questionConfigurations">
      <div class="question-config">
        <p><b>Punkty:</b> {{ questionsConfig.points }}</p>
        <p><b>Ilość pytań:</b> {{ questionsConfig.numberOfQuestions }}</p>
      </div>
    </ng-container>
  </div>
</div>
