.main {
  background-color: ghostwhite;
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .config-data,
    .config-dates {
      display: flex;
      flex-direction: column;
      margin: 10px;
      p {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }
    .config-data {
      width: 20%;
    }
    .buttons {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        width: 200px;
      }
    }
    .config-dates {
      width: 20%;
      p {
        text-align: left;
      }
    }
  }

  .config-points {
    width: 75%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .question-config {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
