<div class="main">
  <div class="info">
    <div class="question-data">
      <p><b>Kategoria:</b> {{ question.categoryName }}</p>
      <p><b>Autor:</b> {{ question.author.firstName }} {{ question.author.lastName }}</p>
      <p><b>Punkty:</b> {{ question.points }}</p>
    </div>
    <div class="buttons">
      <button class="btn btn-lg btn-primary" (click)="openEditQuestionModal(question);">Edytuj</button>
      <button class="btn btn-lg btn-danger" (click)="openDeleteQuestionModal();">Usuń</button>
    </div>
    <div class="question-dates">
      <p><b>Utworzono:</b> {{ question.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="question.updatedAt"><b>Edytowano:</b> {{ question.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    </div>
  </div>
  <div class="question">
    <div class="content">
      <p>{{ question.content }}</p>
    </div>
    <div class="answers">
      <div class="row">
        <div class="col" [ngClass]="question.correct === 'A' ? 'correct' : ''" >A. {{ question.answerA }}</div>
        <div class="col" [ngClass]="question.correct === 'B' ? 'correct' : ''" >B. {{ question.answerB }}</div>
      </div>
      <div class="row">
        <div class="col" [ngClass]="question.correct === 'C' ? 'correct' : ''">C. {{ question.answerC }}</div>
        <div class="col" [ngClass]="question.correct === 'D' ? 'correct' : ''">D. {{ question.answerD }}</div>
      </div>
    </div>
  </div>
</div>
