.main {
  background-color: ghostwhite;
}

.main .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .info .question-data,
.main .info .question-dates {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.main .info .question-data p,
.main .info .question-dates p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.main .info .question-data {
  width: 20%;
}

.main .info .buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main .info .buttons button {
  width: 200px;
}

.main .info .question-dates {
  width: 20%;
}

.main .info .question-dates p {
  text-align: left;
}

.main .question {
  border-radius: 8px;
}

.main .question .content p {
  font-weight: bold;
  font-size: 18px;
}

.main .question .content,
.main .question .answers {
  padding: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .question .content .row,
.main .question .answers .row {
  width: 100%;
  padding: 5px;
}

.main .question .content .row .col,
.main .question .answers .row .col {
  border: none;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  background-color: #0080ff;
  border-radius: 4px;
}

.main .question .content .row .col.correct,
.main .question .answers .row .col.correct {
  background-color: #28a745;
}
