<div class="modal-content">
  <div class="modal-header">
    <h2>{{ test.id }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="test-info">
      <div>
        <h5>{{ test.user.firstName }} {{ test.user.lastName }}</h5>
        <ng-container [ngSwitch]="test.status">
          <h5 *ngSwitchCase="'done'">Zakończony</h5>
          <h5 *ngSwitchCase="'current'">Trwa</h5>
        </ng-container>
      </div>
      <div>
        <ng-container [ngSwitch]="test.status">
          <h5 *ngSwitchCase="'done'">{{ test.totalPoints }}/{{ test.maxPoints }}</h5>
          <h5 *ngSwitchCase="'current'">Test trwa</h5>
        </ng-container>
        <ng-container [ngSwitch]="test.verdict">
          <h5 *ngSwitchCase="null">Nieukończony</h5>
          <h5 *ngSwitchCase="true">Zaliczony</h5>
          <h5 *ngSwitchCase="false">Niezaliczony</h5>
        </ng-container>
      </div>
    </div>
    <div>
      <h3>Pytania</h3>
    </div>
    <div class="questions">
      <ng-container *ngFor="let answer of test.answers; let i = index">
        <div class="question">
          <div class="question-info">
            <div class="row">
              <div class="col left">
                <p>Kategoria: {{ answer.question.category }}</p>
              </div>

              <div class="col content">
                <p>{{ answer.question.content }}</p>
              </div>

              <div class="col right">
                <p>Punkty: {{ answer.question.points }}</p>
                <button class="ml-auto btn btn-sm btn-warning-outline" (click)="showReportForm(i);">Zgłoś pytanie
                </button>
              </div>
            </div>
          </div>
          <div class="answers">
            <div class="row">
              <div class="col" [ngClass]="{
                'wrong': answer.answer === 'A' && answer.question.correct !== answer.answer,
                'correct': answer.question.correct === 'A' && answer.answer,
                'correct-no-answer': answer.question.correct === 'A' && !answer.answer
              }">A. {{ answer.question.answerA }}</div>
              <div class="col" [ngClass]="{
                'wrong': answer.answer === 'B' && answer.question.correct !== answer.answer,
                'correct': answer.question.correct === 'B' && answer.answer,
                'correct-no-answer': answer.question.correct === 'B' && !answer.answer
              }">B. {{ answer.question.answerB }}</div>
            </div>
            <div class="row">
              <div class="col" [ngClass]="{
                'wrong': answer.answer === 'C' && answer.question.correct !== answer.answer,
                'correct': answer.question.correct === 'C' && answer.answer,
                'correct-no-answer': answer.question.correct === 'C' && !answer.answer
              }">C. {{ answer.question.answerC }}</div>
              <div class="col" [ngClass]="{
                'wrong': answer.answer === 'D' && answer.question.correct !== answer.answer,
                'correct': answer.question.correct === 'D' && answer.answer,
                'correct-no-answer': answer.question.correct === 'D' && !answer.answer
              }">D. {{ answer.question.answerD }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer"></div>
</div>
