.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .test-info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .questions {
    width: 90%;

    .question {
      padding-top: 10px;
      padding-bottom: 10px;
      .question-info {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .row > .col {
          flex-basis: auto;
          &.left {
            width: 20%;
            p {
              width: 100%;
            }
          }

          &.content {
            width: 60%;

            p {
              width: 100%;
              text-align: center;
              font-weight: bold;
              font-size: 18px;
            }
          }

          &.right {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: flex-start;
            p {
              width: 100%;
              text-align: right;
            }
            button {
              margin-right: -10px;
            }
          }
        }
      }

      .content,
      .answers {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row {
          width: 100%;
          padding: 5px;

          .col {
            border: none;
            margin: 10px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40px;
            color: white;
            background-color: #0080ff;
            border-radius: 4px;

            &.wrong {
              background-color: #dc3545;
              -webkit-box-shadow: 0px 0px 2px 4px rgba(220, 53, 69, 0.7);
              -moz-box-shadow: 0px 0px 2px 4px rgba(220, 53, 69, 0.7);
              box-shadow: 0px 0px 2px 4px rgba(220, 53, 69, 0.7);
            }

            &.correct-no-answer {
              background-color: #9040d0;
              -webkit-box-shadow: 0px 0px 2px 4px rgba(144, 64, 208, 0.7);
              -moz-box-shadow: 0px 0px 2px 4px rgba(144, 64, 208, 0.7);
              box-shadow: 0px 0px 2px 4px rgba(144, 64, 208, 0.7);
            }

            &.correct {
              background-color: #28a745;
              -webkit-box-shadow: 0px 0px 2px 4px rgba(40, 167, 69, 0.7);
              -moz-box-shadow: 0px 0px 2px 4px rgba(40, 167, 69, 0.7);
              box-shadow: 0px 0px 2px 4px rgba(40, 167, 69, 0.7);
            }
          }
        }
      }
    }
  }
}
