.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-name {
  width: 16%;
}

.table-row {
  &.active {
    background-color: #56d066;
  }
  &.active:hover {
    background-color: #47a553;
    cursor: pointer;
  }
}

.table-row:hover {
  background-color: ghostwhite;
  cursor: pointer;
}


td[colspan="8"] {
  margin: 0;
  padding: 0;
}


.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-question {
  margin-bottom: 20px;
}

