<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>


<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Czas testu</th>
      <th>Próg zaliczenia (%)</th>
      <th>Maksymalna ilość<br>przełączeń</th>
      <th>Autor</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-row active" (click)="toggle(-1);">
      <td>{{ activeConfig.id }}</td>
      <td>{{ activeConfig.time | configTime}} minut</td>
      <td>{{ activeConfig.percent }}</td>
      <td>{{ activeConfig.totalWindowChangesAllow }}</td>
      <td class="author-name">{{ activeConfig.author.firstName }} {{ activeConfig.author.lastName }}</td>
    </tr>
    <tr *ngIf="currentConfiguration===-1">
      <td colspan="8" align="center">
        <app-configuration [configuration]="activeConfig" (closed)="refresh($event);"></app-configuration>
      </td>
    </tr>
    <ng-container *ngFor="let configuration of configurations; let i=index">
      <tr class="table-row" (click)="toggle(i);">
        <td>{{ configuration.id }}</td>
        <td>{{ configuration.time | configTime}} minut</td>
        <td>{{ configuration.percent }}</td>
        <td>{{ configuration.totalWindowChangesAllow }}</td>
        <td class="author-name">{{ configuration.author.firstName }} {{ configuration.author.lastName }}</td>
      </tr>
      <tr *ngIf="i===currentConfiguration">
        <td colspan="8" align="center">
          <app-configuration [configuration]="configuration" (closed)="refresh($event);"></app-configuration>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <button class="new-question btn btn-lg btn-success" (click)="openNewConfigModal();">Dodaj konfigurację</button>

  <div class="pages">
    <app-paginator [service]="service" [pages]="pages" [currentPage]="currentPage" (newPage)="setNewPage($event);"
                            (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>

</ng-template>
