
<div class="main">
  <ng-container *ngIf="hasTest === 0; then loader; else content"></ng-container>
</div>

<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
    <ng-container *ngIf="hasTest > 0 && hasTest === 1; then continueTest; else newTest"></ng-container>
    <ng-template #continueTest>
      <button class="btn btn-primary" (click)="getTest();">Kontynuuj test</button>
    </ng-template>
    <ng-template #newTest>
      <button class="btn btn-success" (click)="getTest();"> Rozpocznij test</button>
    </ng-template>
</ng-template>
