.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .btn {
  width: 50%;
  height: 100px;
  font-size: x-large;
  margin: 5px;
}
