<div class="modal-header">
  <h4 class="modal-title">Przełącz konfigurację</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Czy na pewno chcesz użyć tej konfiguracji?</h5>
</div>
<div class="modal-footer">
  <div class="buttons">
    <button class="btn btn-lg btn-success" (click)="toggleConfig();">Tak</button>
    <button class="btn btn-lg btn-danger" (click)="activeModal.dismiss();" >Nie</button>
  </div>
</div>
