.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-row:hover {
  background-color: ghostwhite;
}

td[colspan="8"] {
  margin: 0;
  padding: 0;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
