<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>

<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th *ngIf="environment.isAdmin">Użytkownik</th>
      <th>Punkty</th>
      <th>Status</th>
      <th>Werdykt</th>
      <th>Podgląd</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let test of tests; let i=index">
      <tr class="table-row">
        <td>{{ test.id }}</td>
        <td *ngIf="environment.isAdmin">{{ test.user.firstName }} {{ test.user.lastName }}</td>
        <ng-container [ngSwitch]="test.status">
          <ng-container *ngSwitchCase="'done'">
            <td>{{ test.totalPoints }}/{{ test.maxPoints }}</td>
            <td>Zakończony</td>
          </ng-container>
          <ng-container *ngSwitchCase="'current'">
            <td></td>
            <td>Trwa</td>
          </ng-container>
        </ng-container>
        <td>{{ test.verdict ? 'Zaliczone' : 'Niezaliczone'}}</td>
        <td>
          <button class="btn btn-primary" (click)="showTest(i)">Podgląd</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pages">
    <app-paginator [service]="archiveService" [pages]="pages" [currentPage]="currentPage" [sorting]="false"
                   (newPage)="setNewPage($event);" (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>
</ng-template>
