<div class="main">
  <ng-container *ngIf="isLoaded; then content; else loader"></ng-container>
</div>

<ng-template #loader>
  <div class="loader-128"></div>
</ng-template>
<ng-template #content>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th class="name">Nazwa kategorii</th>
      <th>Autor</th>
      <th>Status</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let category of categories; let i=index">
      <ng-container *ngIf="modifyFlags[i]; then categoryForm; else categoryContent"></ng-container>
      <ng-template #categoryContent>
        <tr class="table-row">
          <td>{{ category.id }}</td>
          <td class="name">{{ category.name }}</td>
          <td>{{ category.author.firstName }} {{ category.author.lastName }}</td>
          <td>{{ category.active ? 'Aktywna' : 'Nieaktywna' }}</td>
          <td><button class="btn btn-primary" (click)="editCategory(i)">Edytuj</button></td>
          <td>
            <button class="btn" [ngClass]="category.active ? 'btn-secondary' : 'btn-success'"
            (click)="toggleCategory(i);">{{ category.active ? 'Deaktywuj' : 'Aktywuj' }}</button>
          </td>
        </tr>
      </ng-template>
      <ng-template #categoryForm>
        <tr class="table-row">
          <td>{{ category.id }}</td>
          <td class="name"><input class="form-control" [formControl]="category.name" placeholder="Nazwa kategorii"></td>
          <td>{{ category.author.firstName }} {{ category.author.lastName }}</td>
          <td>{{ category.active ? 'Aktywna' : 'Nieaktywna' }}</td>
          <td><button class="btn btn-success" (click)="applyCategory(i)">Zapisz</button></td>
          <td><button class="btn btn-danger" (click)="cancel(i)">Anuluj</button></td>
        </tr>
      </ng-template>
    </ng-container>
    </tbody>
  </table>
  <button class="new-category btn btn-lg btn-success" (click)="addForm()">Dodaj kategorię</button>

  <div class="pages">
    <app-paginator [service]="service" [pages]="pages" [currentPage]="currentPage" [sorting]="true"
                   (newPage)="setNewPage($event);" (currentPageNumber)="setCurrentPage($event);"></app-paginator>
  </div>

</ng-template>
