.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-row:hover {
  background-color: ghostwhite;
}

td {
  vertical-align: middle;
}

td[colspan="8"] {
  margin: 0;
  padding: 0;
}

.name {
  width: 60%;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category {
  margin-bottom: 20px;
}
